name: Deploy to EKS

on:
  workflow_run:
    workflows: ["Build and Push Docker"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-southeast-1
          role-to-assume: ${{ secrets.AWS_ROLE }}

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --name akhil-eks

      - name: Deploy
        run: kubectl apply -f k8s/