name: Build and Push Docker

on:
  workflow_run:
    workflows: ["Terraform Apply"]
    types: [completed]

permissions:
  id-token: write
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-central-1
      ECR_URI: 333813598365.dkr.ecr.eu-central-1.amazonaws.com

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          role-to-assume: arn:aws:iam::333813598365:role/GithubRole

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION \
          | docker login --username AWS --password-stdin $ECR_URI

      - name: Build & Push Appointment
        run: |
          docker build -t appointmentservice ./docker/appointmentservice
          docker tag appointmentservice:latest $ECR_URI/appointmentservice:latest
          docker push $ECR_URI/appointmentservice:latest