name: Build and Push Docker

on:
  workflow_run:
    workflows: ["Terraform Apply"]
    types:
      - completed

permissions:
  id-token: write
  contents: read

jobs:
  docker:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-central-1
      ECR_URI: 333813598365.dkr.ecr.eu-central-1.amazonaws.com

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::333813598365:role/GithubRole

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push
        run: |
          docker build -t appointmentservice -f docker/appointmentservice/Dockerfile docker/appointmentservice
          docker tag appointmentservice:latest $ECR_URI/appointmentservice:latest
          docker push $ECR_URI/appointmentservice:latest